<div id='chat'>
	<div id="chat-window">
		<div id="output"></div>
		<div id="feedback"></div>
	</div>
	<input type="text" id="handle" placeholder="Handle" />
	<input type="text" id="message" placeholder="Message" />
	<button id="send">Send</button>
</div>