<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="assets/css/style.css" />

</head>
<body>
	
	<!-- Header -->
	{{!-- <header class="main-header-inner" >--}}
	<header>
	    <nav class="red darken-2">
	      <div class="container">
	        <div class="nav-wrapper">
	          <a href="/" class="brand-logo">
	            RUHere
	          </a>
	          <a href="#" data-activates="mobile-nav" class="button-collapse">
	            <i class="fa fa-bars"></i>
	          </a>
	          <ul class="right hide-on-med-and-down">
	            <li>
	              <a href="/">
	                Home
	              </a>
	            </li>
	            <li>
	              <a href="/auth/login">
	                Edit Profile
	              </a>
	            </li>
	            <li>
	              <a href="/auth/logout">
	                Logout
	              </a>
	            </li>
	          </ul>

	<!-- Navbar -->
			  <ul class="side-nav" id="mobile-nav">
	            <h4 class="black-text center">RUHere</h4>
	            <li>
	              <div class="divider"></div>
	            </li>
	            <li>
	              <a href="#">
	                <i class="fa fa-home black-text"></i>Home</a>
	            </li>
	            <li>
	              <div class="divider"></div>
	            </li>
	            <li>
	              <a href="#" class="btn red">Login</a>
	            </li>
	          </ul>
	        </div>
	      </div>
	    </nav>	

	</header>

<!-- Section 1: Profile Pic and Information -->
	 <div id="profile-page" class="section">
              <div id="profile-page-header" class="card">
               
                <!-- Add Handlebars for user id and info -->
                <div class="card-content">
                  <div class="row pt-2 red darken-2">
                  	<div class="col s12 m2 center-align">
                  	<img src="{{ user.thumbnail }}"  style="margin-top: 15+px;"alt="profile image" class="circle z-depth-2 responsive-img activator gradient-45deg-light-blue-cyan gradient-shadow">
                  </div>
                    <div class="col s12 m2 center-align">
                      <h4 class="card-title grey-text text-darken-4">{{ user.username }}</h4>
                      <p class="medium-small white-text">Current Student</p>
                    </div>
                    <div class="col s12 m2 center-align">
                      <h4 class="card-title grey-text text-darken-4">1</h4>
                      <p class="medium-small white-text">Years of Work Experience</p>
                    </div>
                    <div class="col s12 m2 center-align">
                      <h4 class="card-title grey-text text-darken-4">15</h4>
                      <p class="medium-small white-text">Completed Projects</p>
                    </div>
                    <div class="col s12 m2 center-align">
                      <h4 class="card-title grey-text text-darken-4">2018</h4>
                      <p class="medium-small white-text">Rutgers Alumni</p>
                    </div>
                    <div class="col s12 m2 center-align">
                      <h4 class="card-title grey-text text-darken-4">Mentee</h4>
                      <p class="medium-small white-text">Role</p>
                </div>
                <div class="card-reveal">
                  <p>
                    <span class="card-title grey-text text-darken-4">Bill Gates
                      <i class="material-icons right">close</i>
                    </span>
                    <span>
                      <i class="material-icons cyan-text text-darken-2">perm_identity</i> Project Manager</span>
                  </p>
                  <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                  <p>
                    <i class="material-icons cyan-text text-darken-2">perm_phone_msg</i> +1 (612) 222 8989</p>
                  <p>
                    <i class="material-icons cyan-text text-darken-2">email</i> mail@domain.com</p>
                  <p>
                    <i class="material-icons cyan-text text-darken-2">cake</i> 18th June 1990</p>
                  <p>
                    <i class="material-icons cyan-text text-darken-2">airplanemode_active</i> BAR - AUS</p>
                </div>
              </div>

<!-- test -->
<!-- test end -->

<!-- Section 2 Leftside: Comment Wall -->
  <section class="section section-comments black">
    <div class="row"> 
	   <div class="col s12 m6 l8">
        
          <div class="card-panel" id='chat'>
	<div id="chat-window">
		<div id="output"></div>
		<div id="feedback"></div>
		<hr>
	</div>
	<input type="text" value="{{user.username}}" id="handle">
	<input type="text" id="message" placeholder="Message" />
	<button class="btn red" id="send">Send</button>
</div>
        
      </div>
      <div class="col s12 m6 l3">
	<div class="card-panel">
		<ul>
			<li class="btn red" style="margin: 2px;">Mentor Sign Up</li>
			<li class="btn red" style="margin: 2px;">Mentee Sign Up</li>
			<li class="btn red" style="margin: 2px;">Connections</li>
			<li class="btn red" style="margin: 2px;">Edit your profile</li>
		</ul>
	</div>
      </div>
    </div>
   



       
      
  
<!-- Section 2 Rightside: Mentor/Mentee Matches -->
<div class="row">
	<div class="col s12 m6 l8">
      <div class="card-panel">
      <a class="twitter-timeline" data-width="865" data-height="600" data-link-color="#2B7BB9" href="https://twitter.com/RutgersU?ref_src=twsrc%5Etfw">Tweets by RutgersU</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
	</div>
	<div class="col s12 m6 l4">
        <ul class="collection with-header latest-comments">
          <li class="collection-header">
            <h5>Your Matches</h5>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/person2.jpeg" alt="profile image" class="circle">
            <span class="title">Tony Stark</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt minima dolor error laboriosam autem ad beatae
              explicabo pariatur maxime fuga sed quod quo voluptas, adipisci illum aspernatur est, fugit tempore.</p>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/person3.jpeg" alt="profile image" class="circle">
            <span class="title">Elon Musk</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt minima dolor error laboriosam autem ad beatae
              explicabo pariatur maxime fuga sed quod quo voluptas, adipisci illum aspernatur est, fugit tempore.</p>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/person4.jpeg" alt="profile image" class="circle">
            <span class="title">Dolph Lundgren</span>
            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt minima dolor error laboriosam autem ad beatae
              explicabo pariatur maxime fuga sed quod quo voluptas, adipisci illum aspernatur est, fugit tempore.</p>
            </li>
        </ul>
      </div>
       
        
          
    </div>
  </section>



	<!-- Footer -->
  <footer class="page-footer red darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">
            About Us
          </h5>
          <p class="white-text">
            Project 2 Group 4 Mentorship and Social Media App 
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="#">Profile</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#">About Us</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#">Login</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright black">
      <div class="container">
        Group4 &copy; 2018
        <a class="white-text right" href="#">Terms & Conditions</a>
      </div>
    </div>
  </footer>
